body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
:root {
    --iris: #4d5ae5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    display: flex;
}

img {
    display: block;
}

a {
    text-decoration: none;
    display: flex;
}

p {
    margin: 0;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

section {
    padding: 120px 0;
    display: flex;
}

a {
    text-decoration: none;
    display: flex;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* заголовок */
header {
    background-color: #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
}
.container-header {
    padding: 0 15px;
    border-bottom: 1px solid #e7e9fc;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
} 
.header-navigation {
    display: flex;
    align-items: center;

}
.header-logo {
    border-bottom: 1px solid #e7e9fc;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px; 
    color: #4d5ae5;
    display: flex;
}

.header-logo span {
    color: #2e2f42;
}
.header__list {
    display: flex;
    gap: 40px;
}
.header-nav-links {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-right: 40px;
    padding: 24px 0; 
}
.header-nav-links:hover,
.header-nav-links:focus {
    color: #404bbf;
}
.header-address-links {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
    display: flex;
}
.header-address-links:hover,
.header-address-links:focus {
    color: #404bbf;
}
.header-address {
    font-style: normal;
}
.header-list {
    display: flex;
    gap: 40px;
}

.header-address-list {
    display: flex;
    gap: 40px;
}


 /* заголовок та кнопка */

.hero-section {
    padding: 188px 0;
    background-color: #2e2f42;
}

.hero-section-title {
    font-weight: 700;
    line-height: 60px;
    font-size: 56px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    display: flex;
}

.hero-section-button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color:#4d5ae5;
}
.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404bbf;
    color: #ffffff;
}
.one-list{ 
    gap: 24px
}
.one-item{
    width: calc((100% - 72px) / 4);
    gap: 24px;
}
.one-item:nth-child(4){
    margin-right: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* фото1 */

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-left: 450px;
    color: #2e2f42;
}
.team-list-cards:first-child{
    width: calc((100% - 72px) / 4);
}
.team-list-cards{
    background-color: #ffffff;
    padding: 32px ;
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
}
.team-list-cards:nth-child(4) {
    margin-right: 0;
}

.card-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.card-text {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
    gap: 24px;
    text-align: center;
}
.card-content{
    text-align: center;
}

/* фото2 */
.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: center;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-left: 450px;
    color: #2e2f42;
}
.portfolio-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
}
.portfolio-card {
    width: calc((100% - 48px) / 3);
    background-color: #fff;
    border: 1px solid #e7e9fc;
}
.section-title {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 8px;
}


.trouble {
    line-height: 1.11;
    border-bottom: 1px solid #e7e9fc;

}


.team-list-section {

    background-color: #f4f4fd;
}

/* footer */

.footerok {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footerok-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    
}

.footerok-span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}