body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    display: flex;
}

img {
    display: block;
}

a {
    text-decoration: none;
    display: flex;
}

p {
    margin: 0;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

section {
    padding: 120px 0;
    display: flex;
}

a {
    text-decoration: none;
    display: flex;
}
.container{
    flex-direction: row;
    max-width: 1158px;
    padding: 188px 0;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px}
/* заголовок */

.container-header {
    flex-direction: row;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #e7e9fc;
    gap: 48px
} 
.header-navigation {
    display: flex;
    align-items: center;

}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: #4d5ae5;
    display: flex;
}

.header-logo span {
    color: #2e2f42;
}

.header-nav-links {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-right: 40px;
    padding: 24px 0; 
}
.header-nav-link{
    margin-right: 0;
}
.header-address-links {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
    display: flex;
}

.header-address {
    font-style: normal;
}

 /* заголовок та кнопка */

.hero-section {
    background-color: #2e2f42;
}

.hero-section-title {
    font-weight: 700;
    line-height: 60px;
    font-size: 56px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    display: flex;
}

.hero-section-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: flex;
}
.header-list{
    display: flex;
    gap: 40px;
}
.header-address-list{
    display: flex;
    gap: 40px;
}

.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404bbf;
    color: #ffffff;
}

.header-nav-links:hover,
.header-nav-links:focus {
    color: #404bbf;
}

.header-address-links:hover,
.header-address-links:focus {
    color: #404bbf;
}
.section-title-trouble {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2e2f42;
}

/* фото1 */

.section-title-troubles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2e2f42;
}
.section-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* фото2 */
.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
}
.section-title {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 8px;
}


.trouble {
    line-height: 1.11;
    border-bottom: 1px solid #e7e9fc;
    
}
.card-titl{
    width: calc((100% - 72px) / 4);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;
}
.card-titles {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;
}

.card-text {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 24px;
}

.team-list-cards {
    background-color: #ffffff;
}

header {
    background-color: #e7e9fc;
}

.team-list-section {
    background-color: #f4f4fd;
}

/* footer */
.container-footer {
   flex-direction: row;
    max-width: 1158px;
    padding: 100px 0;
    margin: 0 auto;
    display: flex;

    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px
}
.footerok {
    background-color: #2e2f42;
}

.footerok-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    
}

.footerok-span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}