body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    padding: 120px 0;
}

a {
    text-decoration: none;
}
.container{
    flex-direction: row;
    max-width: 1158px;
    padding: 188px 0;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px}
/* заголовок */

.container-header {
    flex-direction: row;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px
} 
.header-navigation {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo span {
    color: #2e2f42;
}

.header-nav-links {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-right: 40px;
    padding: 24px 0; 
}
.header-nav-link{
    margin-right: 0;
}
.header-address-links {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

.header-address {
    font-style: normal;
}

 /* заголовок та кнопка */

.hero-section {
    background-color: #2e2f42;
}

.hero-section-title {
    font-weight: 700;
    line-height: 60px;
    font-size: 56px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
}

.hero-section-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}

.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404bbf;
    color: #ffffff;
}

.header-nav-links:hover,
.header-nav-links:focus {
    color: #404bbf;
}

.header-address-links:hover,
.header-address-links:focus {
    color: #404bbf;
}

/* фото1 */

/* фото2 */
.section-title {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
}

.trouble {
    line-height: 1.11;
    border-bottom: 1px solid #e7e9fc;
}

.card-titles {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.card-text {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
}

.team-list-cards {
    background-color: #ffffff;
}

header {
    background-color: #e7e9fc;
}

.team-list-section {
    background-color: #f4f4fd;
}

/* footer */
.container-footer {
   flex-direction: row;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px
}
.footerok {
    background-color: #2e2f42;
}

.footerok-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footerok-span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}