body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
:root {
    --iris: #4d5ae5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    /* display: flex; */
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

section {
    padding: 120px 0;
    /* display: flex; */
}

a {
    text-decoration: none;
    display: flex;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
   
}

/* заголовок */
.container-header .container{
    display: flex;
    justify-content: space-between;

}
.container-header{
    border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
    display: flex;
    align-items: center;

}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px; 
    color: #4d5ae5;
    display: flex;
}

.header-logo span {
    color: #2e2f42;
}

.header-nav-links {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    /* gap: 40px; */
    padding: 24px 0; 
}
.header-nav-links:hover,
.header-nav-links:focus {
    color: #404bbf;
}
.header-address-links {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
    display: flex;
}
.header-address-links:hover,
.header-address-links:focus {
    color: #404bbf;
}
.header-address {
    font-style: normal;
}
.header-list {
    display: flex;
    gap: 40px;
}
.header-address-list {
    display: flex;
    gap: 40px;
}


 /* заголовок та кнопка */

.hero-section {
    padding: 188px 0;
    background-color: #2e2f42;
}
.hero-section .container{
    width: 1440px;
    height: 600px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 381px;
    padding-bottom: 40px;
    /* border-radius: 30px; */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../hero/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1440px;
    height: 600px; */
}

.hero-section .container{
    display: flex;
    gap: 48px;
    flex-direction: column;
}
.hero-section-title {
    font-weight: 700;
    line-height: 60px;
    font-size: 56px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
}

.hero-section-button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color:#4d5ae5;
}
.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404bbf;
    color: #ffffff;
}
.one-list-icon{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 1128px;
    height: 224px;
}
.one-list{ 
   display: flex;
   gap: 24px;
}
.one-item{
    width: calc((100% - 72px) / 4);   
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* фото1 */

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2e2f42;
}
.team-list{
    display: flex;
    gap: 24px;
}

.team-list-cards{
    background-color: #ffffff;
    width: calc(100% - (72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.card-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
    
}

.card-text {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
}
.card-content{
    text-align: center;
    padding: 32px 0;
}
.time-list-link{
display: flex;
display: inline-block;
justify-content: center;
align-items: center;
border-radius: 50%;
margin: 8px 0 8px 8px;
}

/* фото2 */
.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: center;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2e2f42;
}
.portfolio-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
}
.portfolio-card {
    width: calc((100% - 48px) / 3);
    background-color: #fff;
    /* border: 1px solid #e7e9fc; */
}
.section-title {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 8px;
}


.trouble {
    line-height: 1.11;
    border-bottom: 1px solid #e7e9fc;

}


.team-list-section {

    background-color: #f4f4fd;
}

/* footer */

.footerok{
    padding: 100px 0;
    background-color: #2e2f42;     
}
.footer-svg {
    display: inline-block;

}
.footerok-span {
    color: #f4f4fd;

}
.footerok-logo{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #4d5ae5;
}
.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;

}